:root {
  --main-link-color: blue;
}

body {
  width: 60%;
  margin: 0 auto;
  background-color: lightseagreen;
}

a {
  color: var(--main-link-color);
  text-decoration: none;
}

.left-container h3 {
  margin: 40px auto 20px;
  border: 3px solid black;
  border-radius: 25% 10%;
  background-color: darkcyan;
  text-align: center;
  width: 180px;
}

.right-container h3 {
  margin: 40px auto 20px;
  border: 3px solid black;
  border-radius: 25% 10%;
  background-color: darkcyan;
  text-align: center;
  width: 180px;
}

.nav-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 20px;
  margin: 0;
  background-color: grey;
  font-size: 20px;
  font-weight: bold;
}

.left-right-containers {
  display: flex;
  flex-direction: row;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  background-color: grey;
}

.main-information {
  text-align: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.contacts ul {
  list-style: none;
  margin: 5px 10px;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.contacts img {
  display: inline;
  vertical-align: middle;
  margin: 0px 10px 5px 20px;
}

.language-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.language-content ul {
  list-style: none;
  margin: 5px 10px;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  list-style: none;
}

.skills-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.skills-content ul {
  list-style: none;
  margin: 5px 25px;
  padding: 0;
  width: 100%;
  display: inline;
}

.skills-content img {
  display: inline;
  vertical-align: middle;
  margin: 0px 10px 5px 20px;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: cadetblue;
}

.about-me-container {
  margin: 2px 10px 2px 25px;
}

.education-container {
  width: 100%;
}

.education-container p {
  margin: 3px 25px;
}

.courses-container {
  width: 105%;
}

.courses-container ul li {
  margin: 5px 20px;
}

.code-example-container {
  margin: 2px 40px;
  width: 100%;
}

.code-example-container p {
  margin: 0px 30px;
}

pre {
  border: 3px solid black;
  border-radius: 25% 10%;
  margin: 40px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  color: black;
  background-color: grey;
  font-size: 18px;
  font-weight: bold;
}

.github-link {
  display: flex;
  align-items: center;
}